.name {
  background-color: aqua;
  padding: 100px;
  border: 10px solid green;
  margin: 100px;

  display: inline-block;;
  /* box-sizing:content-box ; */
}

body {
  margin: 0;
}

div {
  background-color: aquamarine;
  height: 300px;
}
