body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.box {
  width: 200px;
  height: 200px;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 8px;
  color: white;
}

.red-box {
  background-color: red;
  position: relative;

  margin-bottom: -5rem;
  /* z-index: 1; */
}

.green-box {
  background-color: green;
  bottom: 5rem;
  left: 1rem;
   position: relative;
  /* z-index: 1;  */

    /* margin-bottom: -20rem; */


}

.blue-box {
  background-color: blue;
  bottom: 20rem;
  left: 2rem;
  position: relative;
  /* z-index: 1;  */

}
